h1{
  text-align: center;
}

#storybox{
  border-style: double;
  border-color: black;
  border-width: medium;
}

#storySection{
  margin-bottom: 50px;
  text-align: center;
}

#storyRow{
  width: 70px;
  padding-bottom: 50px;
}

#textRow{
  margin-bottom: 0px;
}

#buttonRow{
  align-content: center;
}

button{
  margin-left: 60px;
  margin-right: 30px;
  width: 100px;
  height: 30px;
}
