h1{
  text-align: center;
  padding: 20px;
}

#storybox{
  border-style: double;
  border-color: black;
  border-width: medium;
  height: 500px;
}

#storySection{
  margin-bottom: 50px;
  text-align: justify;
}

#storyRow{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.heading{
  padding-left: 20px;
  height: 60%;
}

.textRow{
  margin-left: 10px;
  font-weight: bold;
}


#buttonRow{
  align-content: center;
}

button{
  margin-left: 60px;
  margin-right: 30px;
  width: 100px;
  height: 30px;
}
